/* public/css/style.css */
#container {
  display: flex;
  font-family: sans-serif;
}
#sidebar {
  width: 200px;
  padding: 20px;
  background: #f0f0f0;
}
#content {
  flex: 1;
  padding: 20px;
}
.post-box {
  padding: 10px;
  background: #fff;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
